aiohttp==3.10.2
async-timeout==3.0.1
attrs==21.4.0
beautifulsoup4==4.9.3
certifi==2020.6.20
cffi==1.16.0
chardet==3.0.4
cryptography==3.3.2
discord==1.7.3
discord.py==2.6.4
distro==1.5.0
distro-info==1.0
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.12.1
html5lib==1.1
httpcore==0.9.1
httplib2==0.18.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
multidict==6.0.2
PIL-Tools==1.1.0
pillow==10.3.0
pycparser==2.22
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PySimpleSOAP==1.16.2
python-debian==0.1.39
python-debianbts==3.1.0
pyxattr==0.7.2
pyxdg==0.27
requests==2.32.2
rfc3986==1.5.0
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
urllib3==1.26.19
typing_extensions==4.1.1
webencodings==0.5.1
xdg==5.0.0
yarl==1.9.4
youtube-dl==2021.6.6
